.form-signin {
  height: 80vh;
  margin: auto;
  max-width: 330px;
  padding: 15px;
  width: 100%;
}

.form-signin form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 70% auto;
}

.form-signin input {
  margin: 10px;
  padding: 7px;
  width: 300px;
}

.form-signin button {
  cursor: pointer;
  margin-top: 5px;
  padding: 7px;
  width: 320px;
}

.link-config {
  color: rgb(53, 58, 68);
  margin-top: 20px;
  padding: 5px;
  text-decoration: none;
  width: 310px;
}
