.quiz-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 70px;
}

.quiz-container section {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 50%;
}

.quiz-content-question h2 {
  font-size: 25px;
}

.quiz-content-question p {
  font-size: 18px;
}

.btn-answer {
  font-size: 1.2rem;
  margin-bottom: 5px;
  padding: 17px;
  width: 350px;
}

.quiz-content-answers {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 40px;
}
